<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>计算器</title>
		<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="../js/vue.min.js"></script>
	</head>
	
	<body>
		<div id="container" class="container mx-4 my-4 bg-light text-center row ">
			
			<input type="text" class="input" v-model="number1" />
			<select  v-model="cal">
				<option value="+">+</option>
				<option value="-">-</option>
				<option value="*">*</option>
				<option value="/">/</option>
			</select>
			<input type="text" class="input" v-model="number2" />
			<button class="btn btn-light btn-lg" @click="calculate" value="=">=</button>
			<input type="text" readonly="true" v-model="res"></textarea>
			
		</div>
		<script>
			var container = new Vue({
				el:'#container',
				data:{
					number1:0,
					number2:0,
					cal:'-',
					res:0
				},
				methods:{
					calculate(){
						switch(this.cal){
							case '+':
							return this.res = this.number1+this.number2;
							case '-':
							return this.res = this.number1-this.number2;
							case '*':
							return this.res = this.number1*this.number2;
							case '/':
							return this.res = this.number1/this.number2;
							//也可以使用eval()表达式
						}
					}
				}
				
			})
			
		</script>
	</body>
</html>
